.full {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.full button {
  margin-top: 5px;
  margin-left: 10px;
  width: 100px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.Form {
  display: flex;
  align-items: center;
}

.Form input {
  height: 25px;
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
  margin-right: 10px; /* Added margin to create space between input and button */
}

.Form label {
  font-weight: bold;
  margin-right: 1rem;
}

.full button {
  font: inherit;
  cursor: pointer;
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 20px;
  font-weight: bold;
}

.full button:hover,
.full button:active {
  background-color: #641e03;
  border-color: #641e03;
}

.input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.input input {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}
